/********************************************************
------------------------ Beluga -------------------------
Design: apopagasm
CSS: Exanurous
Version: 1.1;
Bug Reports: forums.php?action=viewthread&threadid=16899;
Style derived from Gazelle Postmod and BTN SMPTE
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://gitcdn.link/cdn/exanurous/beluga/master/layout.css);
@import url(https://gitcdn.link/cdn/exanurous/beluga/master/permissions/original.css);


/* Fix for additional searchbar box */
#searchbars input {
    width: 114.7px;
}